<div class="container content">
	<div class="row">
		<div class="col-md-12 content-header">
			<div class="row">
				<div class="col-md-5">
					<button class="btn move-button move-button_active">All Results (189)</button>
					<button class="btn move-button">Express (94)</button>
					<button class="btn move-button">The Cheapest (95)</button>
				</div>
				<div class="col-md-2">
					<p class="content__moving-type">
						<img src="./images/shipment.png" alt="shipment" align="left">
						Shipment
					</p>
					<p class="content__moving-type content__moving-type_disabled">
						<img src="./images/self.png" alt="shipment" align="left">
						Self-moving
					</p>
				</div>
				<div class="col-md-5 content-view-options">
					<div class="row">
						<div class="col-md-4 content-filter">
							Filter by: 
							<a href="#" class="content-filter__item content-filter__item_active">
								<i class="fa fa-train" aria-hidden="true"></i>
							</a>
							<a href="#" class="content-filter__item">
								<i class="fa fa-bus" aria-hidden="true"></i>
							</a>
							<a href="#" class="content-filter__item">
								<i class="fa fa-ship" aria-hidden="true"></i>
							</a>
						</div>
						<div class="col-md-4 content-switch">
							Only Direct Shipment:
							<img src="./images/toggle.png" alt="toggle" >
						</div>
						<div class="col-md-4 content-sorting">
							Sorting by: 
							<div class="dropdown">
							<a id="contentDropList" data-target="dropList" href="#dropList" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
									Departure date
									<span class="glyphicon glyphicon-menu-down"></span>
								</a>

								<ul id="dropList" class="dropdown-menu" aria-labelledby="contentDropList">
									<li class="panel panel-default">Some value</li>
									<li class="panel panel-default">Some value</li>
									<li class="panel panel-default">Some value</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>	
		<div class="col-md-12">
			<div id="accordion" class="panel-group">
				<div class="panel">	
					<div class="panel-heading">
						<div class="row">
							<div class="col-md-2 content__departure-data">
								<h1 class="content__date">22 May, 2017</h1>
								<p class="content__location">
									St. Petersburger Straße 26, 01069 Dresden, Germany
								</p>
							</div>
							<div class="col-md-6 content__graph">
								<img src="./images/graph.png" alt="graph" class="graph__img">
							</div>
							<div class="col-md-2 content__departure-data">
								<h1 class="content__date">23 May, 2017</h1>
								<p class="content__location">
									Grindelberg 85, 20144 Hamburg, Germany
								</p>
							</div>
							<div class="col-md-2 col-xs-7 col-sm-3 content__order">
								<button class="btn content__order-button">
									Order for <br>
									<span>$ 333</span>
								</button>
								<a href="#item1" data-parent="#accordion" data-toggle="collapse" class="arrow-link">
									<span class="glyphicon glyphicon-menu-down" ></span>
									<span class="glyphicon glyphicon glyphicon-menu-up"></span>
								</a>
							</div>
						</div>
					</div>
					<div id="item1" class="panel-collapse panel-default collapse in">
						<div class="panel-body content-details">
							<div class="row">
								<div class="col-md-12">
									<h4 class="content-details__sub-title">Details:</h4>
								</div>
								<div class="col-md-9">
									<img src="./images/graph2.png" alt="graph" class="graph__img">
								</div>
								<div class="col-md-offset-1 col-md-2 content-details__total">
									<h3 class="content-details__total-title">Total time:</h3>
									<p class="content-details__total-time">1 day</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="panel">	
					<div class="panel-heading">
						<div class="row">
							<div class="col-md-2 content__departure-data">
								<h1 class="content__date">20 May, 2017</h1>
								<p class="content__location">
									St. Petersburger Straße 26, 01069 Dresden, Germany
								</p>
							</div>
							<div class="col-md-6 content__graph">
								<img src="./images/graph.png" alt="graph" class="graph__img">
							</div>
							<div class="col-md-2 content__departure-data">
								<h1 class="content__date">23 May, 2017</h1>
								<p class="content__location">
									Grindelberg 85, 20144 Hamburg, Germany
								</p>
							</div>
							<div class="col-md-2 col-xs-7 col-sm-3 content__order">
								<button class="btn content__order-button">
									Order for <br>
									<span>$ 333</span>
								</button>
								<a href="#item2" data-parent="#accordion" data-toggle="collapse" class="arrow-link">
									<span class="glyphicon glyphicon-menu-down" ></span>
									<span class="glyphicon glyphicon glyphicon-menu-up"></span>
								</a>
							</div>
						</div>
					</div>
					<div id="item2" class="panel-collapse panel-default collapse">
						<div class="panel-body content-details">
							<div class="row">
								<div class="col-md-12">
									<h4 class="content-details__sub-title">Details:</h4>
								</div>
								<div class="col-md-9">
									<img src="./images/graph2.png" alt="graph" class="graph__img">
								</div>
								<div class="col-md-offset-1 col-md-2 content-details__total">
									<h3 class="content-details__total-title">Total time:</h3>
									<p class="content-details__total-time">3 days</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="panel">	
					<div class="panel-heading">
						<div class="row">
							<div class="col-md-2 content__departure-data">
								<h1 class="content__date">23 May, 2017</h1>
								<p class="content__location">
									St. Petersburger Straße 26, 01069 Dresden, Germany
								</p>
							</div>
							<div class="col-md-6 content__graph">
								<img src="./images/graph.png" alt="graph" class="graph__img">
							</div>
							<div class="col-md-2 content__departure-data">
								<h1 class="content__date">25 May, 2017</h1>
								<p class="content__location">
									Grindelberg 85, 20144 Hamburg, Germany
								</p>
							</div>
							<div class="col-md-2 col-xs-7 col-sm-3 content__order">
								<button class="btn content__order-button">
									Order for <br>
									<span>$ 250</span>
								</button>
								<a href="#item3" data-parent="#accordion" data-toggle="collapse" class="arrow-link">
									<span class="glyphicon glyphicon-menu-down" ></span>
									<span class="glyphicon glyphicon glyphicon-menu-up"></span>
								</a>
							</div>
						</div>
					</div>
					<div id="item3" class="panel-collapse panel-default collapse">
						<div class="panel-body content-details">
							<div class="row">
								<div class="col-md-12">
									<h4 class="content-details__sub-title">Details:</h4>
								</div>
								<div class="col-md-9">
									<img src="./images/graph2.png" alt="graph" class="graph__img">
								</div>
								<div class="col-md-offset-1 col-md-2 content-details__total">
									<h3 class="content-details__total-title">Total time:</h3>
									<p class="content-details__total-time">2 days</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="panel">	
					<div class="panel-heading">
						<div class="row">
							<div class="col-md-2 content__departure-data">
								<h1 class="content__date">26 May, 2017</h1>
								<p class="content__location">
									St. Petersburger Straße 26, 01069 Dresden, Germany
								</p>
							</div>
							<div class="col-md-6 content__graph">
								<img src="./images/graph.png" alt="graph" class="graph__img">
							</div>
							<div class="col-md-2 content__departure-data">
								<h1 class="content__date">30 May, 2017</h1>
								<p class="content__location">
									Grindelberg 85, 20144 Hamburg, Germany
								</p>
							</div>
							<div class="col-md-2 col-xs-7 col-sm-3 content__order">
								<button class="btn content__order-button">
									Order for <br>
									<span>$ 752</span>
								</button>
								<a href="#item4" data-parent="#accordion" data-toggle="collapse" class="arrow-link">
									<span class="glyphicon glyphicon-menu-down" ></span>
									<span class="glyphicon glyphicon glyphicon-menu-up"></span>
								</a>
							</div>
						</div>
					</div>
					<div id="item4" class="panel-collapse panel-default collapse">
						<div class="panel-body content-details">
							<div class="row">
								<div class="col-md-12">
									<h4 class="content-details__sub-title">Details:</h4>
								</div>
								<div class="col-md-9">
									<img src="./images/graph2.png" alt="graph" class="graph__img">
								</div>
								<div class="col-md-offset-1 col-md-2 content-details__total">
									<h3 class="content-details__total-title">Total time:</h3>
									<p class="content-details__total-time">4 days</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>	

	</div>	
</div>