<div class="container header">
	<div class="row">
		<div class="col-md-12 header__title">
			<h1>Find the route</h1>
		</div>
	</div>
	<div class="row header-row">
		<div class="col-md-1 header-tab">
			<span class="glyphicon glyphicon-home" aria-hidden="true"></span>
			1 move
		</div>
		<div class="col-md-2 header-tab">
			Dashboard
			<span class="glyphicon glyphicon-menu-right header-tab__arrow" aria-hidden="true"></span>
		</div>
		<div class="col-md-2 header-tab">
			Find the route
			<span class="glyphicon glyphicon-menu-right header-tab__arrow" aria-hidden="true"></span>
		</div>
	</div>	
</div>