<div class="container route">
	<div class="row">
		<div class="col-xs-12 col-sm-7 col-md-4  route-tab">
			<h2 class="route-tab__title">Route</h2>
			<div class="row">
				<div class="col-md-12">
					<p class="route-tab__marker">From</p>
				</div>
				<div class="col-md-12">
					<p class="route-tab__place">St. Petersburger Straße 26, 01069 Dresden, Germany</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<p class="route-tab__marker">To</p>
				</div>
				<div class="col-md-12">
					<p class="route-tab__place">Grindelberg 85, 20144 Hamburg, Germany</p>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-5 col-md-3 route-tab">
			<h2 class="route-tab__title">Span</h2>
			<div class="row">
				<div class="col-md-12">
					<p class="route-tab__marker">From</p>
				</div>
				<div class="col-md-12">
					<p class="route-tab__place">
						22.05.2017
						<span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
					</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<p class="route-tab__marker">To</p>
				</div>
				<div class="col-md-12">
					<p class="route-tab__place">
						22.06.2017
						<span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
					</p>
				</div>
			</div>
		</div>
		<div class="col-sm-12 col-md-5 route-tab">
			<h2 class="route-tab__title">
				Vehicles <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
			</h2>
			<div class="row">
				<div class="col-md-12">
					<p class="route-tab__vehicles">
						Audi A8, D4/H4 [2013-2017], sedan, 3.0 TDI L tiptronic quattro
						<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
					</p>
					<p class="route-tab__vehicles">
						Audi A8, D4/H4 [2013-2017], sedan, 3.0 TDI L tiptronic quattro
						<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
					</p>
					<p class="route-tab__vehicles">
						Audi A8, D4/H4 [2013-2017], sedan, 3.0 TDI L tiptronic quattro
						<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
					</p>
				</div>
			</div>
		</div>
	</div>	
</div>
