.content{
	background-color: #ffffff;
	margin-bottom: 50px;
}

/*HEADER CONTENT*/
.content-header{
	margin: 10px 0;
}

.content__moving-type{
	height: 15px;
	font-size: 12px;
	img{
		height: 100%;
		margin-right: 10px;
	}
}

.content__moving-type_disabled{
	color: #a8bdd2;
}

.content-view-options{
	font-size: 12px;
}

.content-filter__item {
	display: inline-block;
	width: 32px;
  height: 32px;
  font-size: 16px;
  text-align: center;
  line-height: 32px;
	color: #b2cbf1;
  border-radius: 5px;
  background-color: #e4eaf4;
  transition: all ease .3s;

  &:hover{
		background-color: #4c75b8;
  }
}

.content-filter__item_active{
	color: #fff;
	background-color: #dc485c;
}

.content-switch{
	img{
		cursor:not-allowed;
	}
}

.content-sorting, #contentDropList{
	color: #a8bdd2;
}
#contentDropList{
	text-decoration: none;
	transition: all ease .3s;
	&:hover{
		font-weight: bolder;
	}
}

#dropList{
	.panel{
		padding-left: 10px;
		margin: 5px 0;
		box-sizing: border-box;
		cursor: pointer;
		transition: all ease .3s;

		&:hover{
			background-color: #4c75b8;
		}
	}
}


/*END OF HEADER CONTENT*/

.panel-heading {
	margin-bottom: 10px;
	padding: 0 15px;
	box-shadow: 0 0 10px 3px rgba(0,0,0,0.25);
}

.content__departure-data{
	padding-top: 10px;
	padding-right: 0;
}

.content__date{
	margin-top: 0;
	font-size: 26px;
	font-weight: bold;
}

.content__location{
  font-size: 12px;
  color: #4a555b;
	font-weight: lighter;
}

.content__graph{
	vertical-align: middle;
}

.graph__img{
	width: 100%;
}

.content__order{
	border-left: 1px dashed #9ca8af;
	vertical-align: middle;
}

.content__order-button{
	color: #fff;
	font-size: 20px;
	font-weight: lighter;
	border-radius: 5px;
	background-color: rgb(255, 109, 0);
	transition: all ease .3s;

	span{
		font-size: 24px;
		font-weight: bold;
	}

	&:hover{
		color: #fff;
		box-shadow: inset 0 0 10px 2px rgba(0,0,0,0.25);
	}
}

.arrow-link{
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 20%;
	top: 0;
	bottom: 0;
	right: 0;
	text-align: center;
	vertical-align: middle;
	font-size: 20px;
	background-color: #f7f7f7;

	&:hover{
		border: none;
		text-decoration: none;
	}
	&:focus{
		outline: none;
		border: none;
		text-decoration: none;
	}

}

.glyphicon-menu-up {
	display: none;
}

.glyphicon-menu-up{
	display: none;
}

.arrow-link[aria-expanded="false"] .glyphicon-menu-down{
	display: inline-block;
}

.arrow-link[aria-expanded="true"] .glyphicon-menu-down{
	display: none;
}

.arrow-link[aria-expanded="false"] .glyphicon-menu-up{
	display: none;
}

.arrow-link[aria-expanded="true"] .glyphicon-menu-up{
	display: inline-block;
}



/*write soo long just to dont use impotant*/
.panel-group .panel-heading+.panel-collapse>.panel-body.content-details{
	border-top: none;
}

.content-details{
	background-color: #f7f7f7;
}

.content-details__sub-title{
	font-size: 18px;
	font-weight: bold;
	border-bottom: 1px solid;
}

.content-details__total{
	text-align: center;
}

.content-details__total-title{
	margin-top: 5px;
	font-size: 28px;
	font-weight: lighter;
  color: rgb(204, 204, 204);
}

.content-details__total-time{
	font-size: 32px;
	color: rgb(76, 117, 184);
	font-weight: bold;
	text-transform: uppercase;
}