/*GENERAL STYLES*/
/* font-family: "Roboto" */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');


*{
	margin: 0;
	padding: 0;
	font-family: 'Roboto', Arial, sans-serif;	
  letter-spacing: 0.5px;
}
a{
  text-decoration: none;
  outline: none!important;
}
ul{
  list-style: none;
}

body {
  background-color: #e7eaeb;
}

button,.btn{
  outline: none!important;
}

.wrapper{
  min-width: 320px;
	width: 100%;
	margin: 0 auto;
}

.move-button {
  min-width: 130px;
  height: 35px;
  font-size: 12px;
  border: 1px dashed #4285f4;
  border-radius: 22px;
  background-color: #fff;
  margin-right: 25px;
  padding: 0 10px;
  box-sizing: border-box;
  color: #4285f4;
  transition: all ease .3s;

  &:hover{
    background-color: #4c75b8;
    color: #fff;
  }

  &:last-child{
    margin-right: 0;
  }
}

.move-button_active{
  border: 1px solid #4285f4;
  background-color: #4c75b8;
  color: #fff;
}

.move-button_navigate{
  height: 55px;
  font-size: 24px;
  color: #fff;
  border-radius: 50px;
  background-color: #3498db;

  &:hover{
    color: #fff;
    box-shadow: 0 0 10px 3px rgba(0,0,0,0.25);
  }
  &:focus{
    color: #3498db;
    background-color: #fff;

  }
}

.navigate-wrap{
  margin-bottom: 50px;
}
/*END OF --- GENERAL STYLES*/