.header{
	margin-bottom: 30px;
}

.header__title {
	padding-left: 0;
	h1{
		font-size: 32px;
		font-weight: lighter;
		color: rgb(74, 85, 91);
	}
}

.header-row{
	background-color: #fff;
}

.header-tab{
	position: relative;
	height: 36px;
	text-align: center;
	line-height: 36px;
	color: #9ca8af;

	&:first-child{
		background-color: black;
		color: #fff;
	}
}

.header-tab__arrow {
	position: absolute;
	font-size: 10px;
	top: 50%;
	left: 5px;
	margin-top: -5.2px;
}