.route{
	margin-bottom: 20px;
	background-color: #ffffff;
}

.route-tab{
	border-right: 1px dashed #9ca8af;
	padding-right: 0;
	&:last-child{
		border: none;
	}

	.fa-pencil-square-o,.glyphicon-remove{
		float: right;
		margin-right: 10px;
		cursor: pointer;
	}

	.fa-pencil-square-o {
		font-size: 12px;
		color: #cccccc;
	}

	.glyphicon-remove{
		color: red;
		font-size: 12px;
	}
}

.route-tab__title{
	font-size: 18px;
	font-weight: bolder;
}

.route-tab__marker,.route-tab__place{
	font-weight: lighter;
}

.route-tab__marker{
  color: rgb(204, 204, 204);
  margin-bottom: 5px;
}

.route-tab__place{
  color: rgb(74, 85, 91);
  border-bottom: 1px solid;
  margin-bottom: 10px;
}

.glyphicon-calendar{
	position: absolute;
	right: 15px;
}

.route-tab__vehicles{
	margin-top: 5px;
	letter-spacing: 1px;
	color: rgb(74, 85, 91);
}